@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}

body {
  box-sizing: inherit;
}

#app {
  font-family: sans-serif;
  background-color: var(--app-background);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#quote-box {
  background: #fff;
  width: 5rem auto;
  margin: 10rem;
  padding: 3rem;
  border-radius: 5px;
  border-color: black;
  border-width: .2rem;
  border-style: solid;

}

#text {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

#author {
  display: flex;
  justify-content: flex-end;
  font-size: 1.2rem;
  margin-top: 1.2rem;
  margin-bottom: .5rem;
}

#buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
  
}

.social-media {
  display: flex;
}

.social-media > a {
  margin-right: .6rem;
  margin-bottom: .4rem;
  margin-top: .7rem;
  background-color: var(--app-background);
  padding: .3rem .5rem;
  cursor: pointer;
  border-radius: 3px;
  border-color: black;
  border-width: .15rem;
  border-style: solid;
}

.social-media > a:hover {
  opacity: .8;
}

.social-media > a img {
  width: 1.5rem;
}

#new-quote {
  background-color: var(--app-background);
  border: none;
  height: 3.2rem;
  color: #fff;
  padding: .5rem 1rem;
  position: relative;
  top: .7rem;
  font-size: .9rem;
  font-weight: bold;
  border-radius: 2px;
  cursor: pointer;
  border-color: black;
  border-width: .15rem;
  border-style: solid;
}

#new-quote:hover {
  opacity: .9;
}